body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Share Tech Mono', 'Roboto', sans-serif;
  overflow-x: hidden;
  font-size: 100%
}

img {
  max-width: 100%
}

h1, h2, h3, h4, h5 {
  line-height: 1.25;
}

h1 {
  margin-top: 0;
  margin-bottom: 11px;
  font-weight: 100;
  font-size: 6em;
}

h2 {
  margin-top: 0;
  margin-bottom: 11px;
  font-weight: 100;
  font-size: 4em;
}

p {
  max-width: 460px;
  margin: 0 auto 11px;
  line-height: 1.5;
}

pre {
  display: inline-block;
  margin: 0;
}

@media screen and (max-width: 959px) {
  h1 {
    font-size: 4em
  }

  h2 {
    font-size: 3em
  }
}
